div(class="bg-white shadow rounded-lg")
    img(class="object-cover h-72 w-full"  src=`/uploads/${propiedad.imagen}` alt=`imagen de la propiedad ${propiedad.titulo}`)
    div(class="p-5 space-y-5")
        h1(class="text-xl font-bold font-mono")= propiedad.titulo
        p(class="text-sm text-black font-mono") Habitaciones:  
                                span(class="text-cute_purple-100 font-bold")= propiedad.habitaciones
        p(class="text-sm text-black font-mono") WC:  
                                span(class="text-cute_purple-100 font-bold")= propiedad.wc
        p(class="text-sm text-black font-mono") Precio:  
                                span(class="text-cute_purple-100 font-bold")= propiedad.precio.nombre 
        p(class="text-sm text-black font-mono") Estado:  
                                span(class="text-cute_purple-100 font-bold uppercase")= propiedad.tipoOperacion === 'venta' ? 'En Venta' : 'En Renta'
        a(href=`/propiedad/${propiedad.id}` class="bg-cute_purple-100 w-full text-center block font-bold text-white p-2 uppercase rounded") Ver Propiedad          
